[user]
	name = Eason Y Chang (RD-TW)
	email = eason_y_chang@trendmicro.com
[core]
  editor = vim
  pager = less -R
	autocrlf = input
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
  st = status
  s = status -s
  ch = checkout
  co = commit
  b = branch
  br = branch
  ps = push
  fe = fetch
  pu = pull
  # Generate .gitignore file using gitignore.io
  # Example: git ignore vim,linux,rails,python
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[color]
  ui = auto
[branch]
  autosetuprebase = always
[credential]
	helper = osxkeychain
[push]
	default = simple
[init]
	defaultBranch = main
